In [6]:
import pandas as pd

ISRAEL_PLACES_CSV = "..\ex1\israel_places_latin_names.csv"

with open(ISRAEL_PLACES_CSV) as file:
    input_csv = pd.read_csv(file)

In [2]:
COLUNM = "district_name"

sorted_values = input_csv[COLUNM].value_counts()
q1 = sorted_values.iloc[:5]
print(q1)

באר שבע    180
עכו        132
עפולה      119
אשקלון     107
השרון       88
Name: district_name, dtype: int64

In [3]:
COLUNM = "council_name"

sorted_values = input_csv[COLUNM].value_counts()
q2 = sorted_values.iloc[:5]
print(q2)

מטה יהודה     64
עמק חפר       45
עמק יזרעאל    39
משגב          37
הגלבוע        33
Name: council_name, dtype: int64

In [4]:
COLUNM = "settlement_name"

splited_values = " ".join(input_csv[COLUNM].values.tolist()).split()
sorted_values = pd.Series(splited_values).value_counts()
q3 = sorted_values.iloc[:5]
print(q3)

כפר      76
בית      47
עין      33
(שבט)    24
גבעת     17
dtype: int64

In [5]:
COLUNM = "district_name"
DISTRICT = "באר שבע"

filtered_values = (input_csv[input_csv[COLUNM] == DISTRICT])["settlement_name"]
splited_values = " ".join(filtered_values).split()
sorted_values = pd.Series(splited_values).value_counts()
q4 = sorted_values.iloc[:5]
print(q4)

(שבט)    22
אבו      10
עין       6
באר       4
מחנה      4
dtype: int64